.cell_frame {
  background-color: #009384;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  
  .stone {
    position: absolute;
    margin: auto;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    border: 1px solid black;
  }

  .empty {
    display: none;
   }
    
  .black {
    display: block;
    background-color: black;
  }
    
  .white {
    display: block;
    background-color: white;
  }
}
    